.header_button {
    margin-right: 33px;    
    border-radius: 4px;    
    background: #349A89;
    border: none;   
    width: 131px;  
    height: 31px; 
    cursor: pointer;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px; 
}